<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">

body {
background:#ffffff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	color:#666666;
	
}
#container {
		width:940px;
	margin:0 auto;
}
#content {
	width:940px;
		margin-top:10px;
}
h1 {

	font-size:36px;
	color:#ccc;
    text-align:left;
	padding-left:10px;
	font-weight:normal;
	text-decoration:none;
}
p {
	line-height:20px;
		color:#cccccc;
		font-size:13px;
}


ol,ul {
	line-height:22px;
}


a {
	color:#999999;
}

a:hover {
	text-decoration:none;
}

.style1 {
	font-size: 12px;
	color: #666666;
	font-family: Verdana;
}
.style3 {
	color: #666666;
	font-family: "Palatino Linotype";
	font-size: 16px;
	font-weight: bold;
}
</style>
</head>


<body>

<div id="container"><br />
<div id="content">
  <table width="100%" border="0" cellspacing="2" cellpadding="2">
                        <tr>
                          <th width="79%" scope="col"><h1 align="center"> Terms and Conditions of Service</h1></th>
                          <th width="21%" scope="col">&nbsp;</th>
                        </tr>
    </table>
					  
					<ol>
					
				      <div align="left">
				        <li class="style1">  Wheels On Hire is only a vehicle booking agent. Wheels On Hire does not operate vehicle rental services of its own. In order to provide a wide range of vehicle rental services, Wheels On Hire has tied up with many rental vehicle operators.<br />
					      <br />
				        Wheels on Hire's responsibilities include</div>
			          </li>
					    <div align="left" class="style1">
					      <ul>
					        <li>Providing a valid booking (a booking that will be accepted by the vehicle operator)</li>
                            <li>Providing refund and support in the event of cancellation</li>
                            <li>Providing customer support and information in case of any delays / inconvenience</li>
                          </ul>
				        </div>
					    <p align="left" class="style1">Wheels On Hire's responsibilities DO NOT include</p>
					    <div align="left" class="style1">
					      <ul>
					        <li>The vehicle operator's vehicle not departing / reaching on time</li>
                            <li>The vehicle operator's employees being rude</li>
                            <li>The vehicle operator's vehicle seats etc not being up to the customer's expectation</li>
                            <li>The vehicle operator cancelling the trip due to unavoidable reasons</li>
                            <li>The baggage of the customer getting lost / stolen / damaged</li>
                          </ul>
				        </div>
      </ol>
					  <div align="left" class="style1">
					    <ol start="2">
					      <li>Passengers are required to furnish a copy of the booking confirmation mail / SMS at the time of boarding the vehicle. You may also be required to furnish a proof of Identity.</li>
                        </ol>
					    <ol start="3">
					      <li>Cancellation Policy -</li>
					      <ul>
					        <li>More than 7 Calendar Days prior to the journey, the cancellation charge will be 20% of booking amount paid.</li>
					        <li>Between 7 Calendar Days to 48 hours prior to the journey, the cancellation charge will be 35% of booking amount paid</li>
					        <li>Between 48 hours to 24 hours prior to the journey, the cancellation charge is 50% of booking amount paid</li>
					        <li>Less than 24 hours prior to journey, the cancellation charge is 100% of the booking amount paid</li>
				          </ul>
				        </ol>
						<BR />Note:   Any changes in the booking dates will be treated as cancellation. Cancellation Charges will be deducted from advance paid,&nbsp;<br />
					     while refunding balance amount. For any cancellation / change in booking dates, please write to&nbsp;<a href="mailto:enquiry@wheelsonhire.co.in">enquiry@wheelsonhire.co.in</a><br /><br />
					    <ol start="4">
					      <li>In case a booking confirmation e-mail and SMS gets delayed or fails because of technical reasons or as a result of incorrect e-mail ID / phone number provided by the user etc, a booking will be considered 'Confirmed' as long as the booking shows up on the confirmation page of www.wheelsonhire.co.in</li>
      <li>Vehicle Services are being provided various rental vehicle operators. Please note that Wheels On Hire provides all the information in good faith to the passengers. The liability of any amenities / vehicle not being made available lies with the operator and not with Wheels On Hire.</li>
      <li>Extension of the booking will be at the sole discretion of the vehicle operator and subject to availability of the vehicle. Any such request should be made at least 24 hours prior to the extension.</li>
    </ol>
      </div>
					  <p align="left" class="style3">General Operating Terms for Vehicle Operators</p>
					  <div align="left">
					    <ol>
					      <li class="style1">Minimum charges of 300 Kilometres per day will be payable irrespective of the distance travelled in the day (Applicable for Outstation Travel).</li>
                          <li class="style1">Time and Kilometres would be calculated to and fro from garage.</li>
                          <li class="style1">TOLL/PARKING/STATE PERMIT CHARGES/INTERSTATE PERMIT CHARGES or any other charges levied by the government will be payable by the customer.</li>
                          <li class="style1">For One day trip (or Last day in case of multiple days trip), vehicle reporting back post 11:30 PM (late reporting) on that day, extra charges will be payable till 2:00 AM of subsequent day. In case vehicle reports back post 2:00 AM on subsequent day, Full Day charges for Second day would be payable.</li>
                          <li class="style1">Driver Allowance on per day basis would be payable (Applicable for Outstation Travel).</li>
                          <li class="style1">Total number of people allowed will be as per the seating capacity of the particular vehicle. In any case, extra people will not be entertained more than specified seating capacity. Kids above 12 years will be treated as one passenger. Pets are strictly not allowed in the vehicle (unless prior special approval has been sought on mail by Wheels On Hire).</li>
                          <li class="style1">In case of Partial Usage of Air Conditioner, customer will be liable to pay for AC Charges for the complete trip.</li>
                          <li class="style1">A fraction of an hour will be charged as &ldquo;ONE HOUR&rdquo;.</li>
                          <li class="style1">Billing Calculations are done as per &ldquo;CALENDAR DAY&rdquo; basis.</li>
                          <li class="style1">In case of outstation booking, usage will be restricted to OUTSTATION only i.e. use of vehicle locally is not allowed. In case any such use, vehicle operator reserves the right to charge the same under local packages besides outstation billing.</li>
                          <li class="style1">A reasonable amount of luggage is allowed. However, luggage in the opinion of driver amounts to excessive weight may not be carried.</li>
                          <li class="style1">Vehicle operators will not be liable for any damage to luggage or any other item.</li>
                          <li class="style1">All cars are comprehensively insured including 3rd party. Claims (if any) will be handled as per existing laws in India by the concerned insurance company.</li>
                          <li class="style1">Service Tax will be applicable over and above the amount (presently @ 12.36%). In case of any change in the service tax structure, tax will be charged accordingly, at the time of usage.</li>
                          <li class="style1">All transactions will be subject to Vehicle Operator&rsquo;s Jurisdiction.</li>
                        </ol>
      </div>
					  <p>&nbsp;</p>
  </div>
</div></body>
</html>
